@{
    ViewData["Header"] = null;
    var isSelected = (string name) => (name == string.Format("{0}", ViewData["Type"])) ? "tab-item--active" : "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EventPlanner</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container auth-container">
        <div class="auth-content">
            <div class="logo auth-logo">EventPlanner</div>
            <div class="auth-box">
                <ul class="tab-header">
                    <li class="tab-item @isSelected("login")">
                        <a asp-area="" asp-page="/Auth/Login">Вход</a>
                    </li>
                    <li class="tab-item @isSelected("signup")">
                        <a asp-area="" asp-page="/Auth/Signup">Регистрация</a>
                    </li>
                </ul>
                <div class="tab-list-content">
                    @RenderSection("Form")
                </div>
            </div>
        </div>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>