.button,
.button:link,
.button:visited {
    display: inline-block;
    padding: 1rem;

    color: var(--black);
    background-color: transparent;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;

    cursor: pointer;
    transition-property: border, color, background-color;
    transition-duration: 0.3s;
}

.button:hover,
.button:active {
    color: var(--darkgray);
}

.button--primary,
.button--primary:link,
.button--primary:visited {
    padding: 1rem 2rem;
    border: 2px solid var(--black);
    border-radius: 5px;
}

.button--primary:hover,
.button--primary:active {
    border-color: var(--darkgray);
}

.button--green {
    color: var(--green);
    border-color: var(--green);
}

.button--green:hover,
.button--green:active {
    color: var(--white);
    background-color: var(--green);
    border-color: var(--green);
}

.button--red {
    color: var(--red);
    border-color: var(--red);
}

.button--red:hover,
.button--red:active {
    color: var(--white);
    background-color: var(--red);
    border-color: var(--red);
}
