.button:link,
.button:visited {
    display: inline-block;
    padding: 1rem;

    color: var(--black);
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;

    transition: all 0.3s;
}

.button:hover,
.button:active {
    color: var(--gray);
}

.button--primary:link,
.button--primary:visited {
    padding: 1rem 2rem;
    border: 2px solid var(--black);
    border-radius: 5px;
}

.button--primary:hover,
.button--primary:active {
    border-color: var(--gray);
}
