.section-auth {
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    min-height: 70rem;
    padding-top: 3.2rem;
}

.auth-inner {
    flex-direction: column;
    gap: 3.2rem;
    width: 130rem;
}