.event-tile {
    max-width: 33rem;
    flex-direction: column;

    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black);
    text-decoration: none;
}

.event-cover {
    width: 100%;
    height: 18rem;
    position: relative;

    background-color: var(--lightgray);
    border-radius: 10px 10px 0 0;
}

.event-bookmark {
    position: absolute;
    top: 1.8rem;
    right: 1.8rem;

    font-size: 2.2rem;
    color: var(--gray);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white);
}

.event-bookmark--active {
    color: var(--yellow);
}

.event-info {
    flex-direction: column;
    gap: 1.2rem;

    height: 18rem;
    padding: 1.6rem 1.2rem;
}

.event-info-main {
    flex-direction: column;
    gap: 0.8rem;
}

.event-info-secondary {
    font-size: 1.4rem;
    font-weight: 300;
    justify-content: space-between;
    align-items: center;
}

.event-title, .event-description {
    max-width: 30rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-title {
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;
    font-weight: 700;

    white-space: nowrap;
}

.event-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.event-info-additional {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.event-price {
    font-weight: 700;
}
