.page-section {
    margin: 6.4rem 0;
}

.page-inner {
    background-color: var(--white);
    border-radius: 10px;
}

.page-header {
    align-items: center;
    gap: 3.2rem;
    margin-bottom: 2.2rem;
}
