@page "/event/edit/{id:int}"
@model EventPlanner.Pages.EditEventModel
@{
    ViewData["Title"] = "Изменить мероприятие";
    Layout = "_Page";
}

@section PageHeader 
{
    <div class="page-header-wrapper">
        <h1>Изменить мероприятие</h1>
    </div>
}

@section PageContent
{
    @{ await Html.RenderPartialAsync("EventForm", Model); }
    <form method="post" class="participants-form">
            <h2>Участники</h2>
            @if (Model.CurrentEvent.Participants.Count > 0)
            {
                <ul class="participants">
                    @foreach (var participant in Model.CurrentEvent.Participants)
                    {
                        <li class="participant-item">
                            <div class="participant-name">@participant.User.FirstName @participant.User.LastName</div>
                            <button type="submit" class="button button--red" asp-page="participant" asp-page-handler="delete" asp-route-userid="@participant.UserId" asp-route-id="@Model.Id" asp-route-returnurl="EditEvent">Удалить</button>
                        </li>
                    }
                </ul>
            }
            else
            {
                <div>Участников нет :(</div>
            }
        </form>
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        const select = document.querySelector("#NewEvent_TypeId");
        const addressGroup = document.querySelector(".address-group");
        pick();
        select.addEventListener("change", pick);

        function pick() {
            if (select.value == 1)
                addressGroup.classList.remove("hidden");
            else
                addressGroup.classList.add("hidden");
        }
    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/events/editevent.css" asp-append-version="true" />
}