@page "/events"
@model EventPlanner.Pages.EventsModel
@using System.Security.Claims
@using EventPlanner.HtmlHelpers
@{
    ViewData["Title"] = "Мероприятия";
    Layout = "_Page";
}

@section PageHeader 
{
    <div class="page-header-wrapper">
        <h1>Мероприятия</h1>
        <div class="search">
            <form method="get">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                <input class="search-input" type="text">
            </form>
        </div>
        <div class="actions">
            <form method="get">
                <select asp-for="Category">
                    <option value="All">Все</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Name">@category.Title</option>
                    }
                </select>
            </form>
            @if (User.FindFirst(ClaimTypes.Role)?.Value == "Organizer")
            {
            <a asp-page="NewEvent" class="button button--icon button--green">
                <i class="fa-solid fa-plus"></i>
                Добавить
            </a>
            }
        </div>
    </div>
}

@section PageContent
{
    @Html.CreateTiles(Url, Model.Events)
}

@section Styles {
    <link rel="stylesheet" href="~/css/events/events.css" asp-append-version="true" />
}