@page "/events"
@model EventPlanner.Pages.EventsModel
@using System.Security.Claims
@using EventPlanner.HtmlHelpers
@{
    ViewData["Title"] = "Мероприятия";
    Layout = "_Page";
}

@section PageHeader 
{
    <div class="page-header-wrapper">
        <h1>Мероприятия</h1>
        <div class="search">
            <form method="get" class="main-form">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                <input asp-for="Search" class="search-input" type="text">
                <select asp-for="Category" class="category-select">
                    <option value="All">Все</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Name">@category.Title</option>
                    }
                </select>
            </form>
        </div>
        @if (User.FindFirst(ClaimTypes.Role)?.Value == "Organizer")
        {
        <div class="actions">
            
            <a asp-page="NewEvent" class="button button--icon button--green">
                <i class="fa-solid fa-plus"></i>
                Добавить
            </a>
        </div>
        }
    </div>
}

@section PageContent
{
    @Html.CreateTiles(Url, Model.Events)
}

@section Styles {
    <link rel="stylesheet" href="~/css/events/events.css" asp-append-version="true" />
}

@section Scripts {
    <script>
        const form = document.querySelector(".main-form");
        const select = document.querySelector(".category-select");
        select.addEventListener("change", () => { form.submit(); });
    </script>
}