@page
@model EventPlanner.Pages.NewEventModel
@{
    ViewData["Title"] = "Новое мероприятие";
    Layout = "_Page";
}

@section PageHeader 
{
    <div class="page-header-wrapper">
        <h1>Новое мероприятие</h1>
    </div>
}

@section PageContent
{
    @{ await Html.RenderPartialAsync("EventForm", Model); }
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        const select = document.querySelector("#NewEvent_TypeId");
        const addressGroup = document.querySelector(".address-group");
        select.addEventListener("change", () => {
            if (select.value == 2) {
                addressGroup.classList.add("hidden");
                for (var child of addressGroup.children)
                    child.querySelector("input").value = "";
            }
            else
                addressGroup.classList.remove("hidden");
        });
    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/events/newevent.css" asp-append-version="true" />
}