@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main">
    <div class="container main-container">
        <div class="main-image">
            <img src="/img/logo.png" alt="main">
        </div>
        <div class="main-content">
            <h1 class="main-title">
                Участвуйте в мероприятиях легко
            </h1>
            <div class="main-description">
                В поисках подходящих мероприятий? Тогда Вам необходимо попробовать наш сайт: Вас ждут самые интересные и необычные мероприятия 
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
}