@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main">
    <div class="container main-container">
        <div class="main-image">
            <img src="https://via.placeholder.com/520x480" alt="main">
        </div>
        <div class="main-content">
            <h1 class="main-title">
                title title title
            </h1>
            <div class="main-description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque pariatur tempora eius, temporibus fugiat similique voluptatibus nostrum, earum inventore molestiae aliquid harum blanditiis? Mollitia unde ipsa eum dolore provident earum.
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
}