.form-item {
  margin-bottom: 10px;
}

.form-item label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-item input:not([type=file]), .form-item textarea {
  display: block;
  background: #fafafa;
  font-size: 14px;
  padding: 5px;
  outline: none;
}

.form-item input[type=time], .form-item input[type=date] {
  display: inline;
  margin-right: 5px;
}

.form-item input[type=text], .form-item input[type=password], .form-item input[type=email] {
  height: 30px;
  width: 100%;
  max-width: 370px;
  font-size: 16px;
  padding: 20px 15px;
}

.form-item textarea {
  border-width: 2px;
  height: 100px;
  width: 100%;
  max-width: 550px;
  font-size: 14px;
}

.input-validation-error {
  border-color: var(--red);
}

.field-validation-error {
  margin-bottom: 5px;
  display: block;
  color: var(--red);
}
