.header {
  position: relative;
  font-weight: 400;
  width: 100%;
  z-index: 3;
}

.header--fixed {
  position: fixed;
  top: 0;
}

.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.header--fixed .header-background {
  background: rgba(102,123,163, 0.75);
  backdrop-filter: blur(10px);
}

.header:not(.header--fixed) .header-background {
  background: var(--blue);
}

.header a {
  color: var(--white);
}

.navbar, 
.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar {
  justify-content: center;
  padding: 10px 0;
}

.navbar-logo {
  font-family: "Ubuntu", serif;
  font-weight: 600;
  font-size: 24px;
}

.navbar-nav {
  max-width: 600px;
  justify-content: flex-start;
  gap: 20px;
}

.nav-item {
  color: var(--white);
}

.navbar-main {
  padding-left: 40px;
  flex-grow: 2;
}