.participant-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid var(--gray);
}

.participant-item:last-child {
    border: none;
}

.participant-name {
    font-weight: 400;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}