.tiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 20px;
}

.tile-cover {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.tile-cover img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: auto;
  transform: translateX(-50%) translateY(-50%);
}

.tile-cover .tile-cover-blur {
  height: 200%;
  filter: blur(5px) contrast(0.5);
}

.tile-desc {
  padding: 15px 10px;
  height: 180px;
  position: relative;
}

.tile-date {
  font-size: 14px;
  margin-bottom: 5px;
}

.tile-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.tile-address {
  margin-bottom: 10px;
  font-size: 14px;
  overflow: hidden;
  height: 38px;
}

.tile-tags {
  gap: 0;
  position: absolute;
  bottom: 5px;
  margin-left: -5px;
}