@import url("../common.css");
@import url("../blocks/background.css");
@import url("../blocks/button.css");
@import url("../blocks/header.css");
@import url("../blocks/page.css");
@import url("../blocks/search.css");
@import url("../blocks/select.css");
@import url("../blocks/tags.css");
@import url("../blocks/tiles.css");

.container {
  padding-bottom: 50px;
}

.main-form {
  display: flex;
  justify-content: space-between;
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}