.header-inner {
    justify-content: space-between;
    align-items: center;

    padding: 1rem 0;
    min-width: 70rem;
    width: 70%;
    max-width: 100rem;
}

.controls-inner {
    justify-content: space-between;
    align-items: center;
}

.controls--authenticated {
    gap: 5px;
}

.controls--unauthenticated {
    gap: 2rem;
}
