@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-roboto;
        background-color: #F1F6F9;
    }

    #root {
        width: calc(100vw - 17px);
    }

    h1, h2, h3 {
        @apply font-bold font-ubuntu text-black tracking-tighter;
    }
}

@layer components {
    .heading--primary {
        @apply text-5xl mb-8;
    }

    .heading--secondary {
        @apply text-4xl;
    }

    .heading--tertiary {
        @apply text-3xl;
    }

    .container {
        @apply max-w-6xl px-8 py-12 mx-auto;
    }

    .input-box {
        @apply w-full relative overflow-hidden text-lightgray font-roboto text-base font-semibold select-none;
    }

    .input {
        @apply bg-white p-3 w-full h-full text-black text-sm font-bold border-lightgray focus:outline-none;
        @apply placeholder:text-base placeholder:text-lightgray;
    }

    .input--active {
        @apply border-green;
    }

    .input:-webkit-autofill,
    .input:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
    }

    .input-label {
        @apply absolute bottom-0 left-0 h-full w-full py-2 pointer-events-none border-b-2 border-b-lightgray;
        @apply before:absolute before:-bottom-[2px] before:left-0 before:w-full before:h-full before:border-b-2 before:border-b-green before:-translate-x-full before:transition-all before:ease-in before:duration-300;
    }

    .input--dirty + .input-label .label-content,
    .input--active + .input-label .label-content,
    .input:not([value='']) + .input-label .label-content {
        @apply -translate-y-[150%] left-0 text-xs text-green;
    }

    .input--dirty + .input-label::before,
    .input--active + .input-label::before,
    .input:focus + .input-label::before,
    .input:not([value='']) + .input-label::before {
        @apply translate-x-0;
    }

    .input--error:not([value='']) + .input-label .label-content,
    .input--error.input--active + .input-label .label-content {
        @apply text-red;
    }

    .input--error + .input-label,
    .input--error + .input-label::before {
        @apply border-red;
    }

    .input--error {
        @apply pr-9 border-red;
    }

    .input--error.warning + .input-label::after {
        @apply content-['!'] absolute right-2 bottom-2 w-5 h-5 text-red font-ubuntu font-bold text-sm flex justify-center items-center rounded-full border-2 border-red;
    }

    input[type="time"]::-webkit-calendar-picker-indicator,
    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }

    .textarea {
        @apply w-full h-full py-1 px-2 rounded-md border-2 border-lightgray text-sm transition-colors ease-in duration-150 resize-none focus:outline-none focus:border-green;
    }

    .textarea--active {
        @apply border-green;
    }

    .textarea--dirty {
        @apply border-lightgray;
    }

    .textarea--error {
        @apply border-red focus:border-red;
    }

    .select-base {
        @apply absolute inset-0 border-2 rounded-md py-1 px-2 text-gray border-lightgray font-bold transition-colors duration-300 hover:text-darkgray group-hover:border-gray after:content-[''] after:w-0 after:h-0 after:border-[6px] after:border-transparent after:border-t-lightgray hover:after:border-t-gray after:absolute after:right-3 after:top-2/3 after:-translate-y-1/2 after:transition-colors after:duration-300;
    }

    .select-base--active {
        @apply border-green group-hover:border-green after:border-t-green hover:after:border-t-green;
    }

    .select-base--error {
        @apply text-red border-red group-hover:border-red after:border-t-red hover:after:border-t-red;
    }

    .select-popup {
        @apply absolute inset-x-0 top-full z-50 bg-white shadow-lg border-2 border-t-0 rounded-b-md;
    }

    .select-popup--active {
        @apply border-green;
    }

    .select-popup--error {
        @apply border-red;
    }

    .error-text {
        @apply text-red font-roboto font-bold text-xs;
    }

    .switcher-tab {
        @apply relative z-10 -m-1;
        @apply last:m-0;
    }

    .switcher-tab--selected {
        @apply z-20;
    }

    .switcher-tab-button {
        @apply w-40 border-2 border-gray rounded-md;
        @apply hover:border-lightgray;
    }

    .switcher-tab:not(.switcher-tab--selected) .switcher-tab-button {
        @apply pl-3;
    }

    .switcher-tab:first-child:not(.switcher-tab--selected) .switcher-tab-button {
        @apply border-r-transparent rounded-none rounded-l-md;
    }

    .switcher-tab:last-child:not(.switcher-tab--selected) .switcher-tab-button {
        @apply border-l-transparent rounded-none rounded-r-md;
    }
}

@layer utilities {
    .two-lines {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .text-stroke-1 {
        -webkit-text-stroke-color: #FFFFFF;
    }

    .text-stroke-white {
        -webkit-text-stroke-width: 1px;
    }
}

.leaflet-attribution-flag {
    width: 0 !important;
}
