.input-box {
    width: inherit;
}

.input-box-inner {
    position: relative;
    overflow: hidden;

    color: var(--lightgray);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
}

.input {
    background-color: var(--white) !important;
    padding: 1rem;
    padding-top: 2.4rem;

    width: 100%;
    height: 100%;

    color: var(--black);
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;

    border: none;
}

.input:-webkit-autofill,
.input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.input--error {
    padding-right: 3.6rem;
}

.input:focus {
    outline: none;
}

.input-label {
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 1rem 0;
    pointer-events: none;
    border-bottom: 2px solid var(--lightgray);
}

.input-label::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--green);
    transform: translateX(-100%);
    transition: all ease 0.3s;
}

.label-content {
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    padding-bottom: 0.6rem;
    transition: all ease 0.3s;
}

.input--dirty + .input-label .label-content,
.input--active + .input-label .label-content,
.input:not([value='']) + .input-label .label-content {
    transform: translateY(-150%);
    font-size: 1.2rem;
    left: 0;
    color: var(--green);
}

.input--dirty + .input-label::before,
.input--active + .input-label::before,
.input:not([value='']) + .input-label::before {
    transform: translate(0%);
}

.input--error:not([value='']) + .input-label .label-content,
.input--error.input--active + .input-label .label-content {
    color: var(--red);
}

.input--error + .input-label,
.input--error + .input-label::before {
    border-color: var(--red);
}

.input--error + .input-label::after {
    content: "!";
    position: absolute;
    right: 1rem;
    top: 50%;
    width: 1.4rem;
    height: 1.4rem;

    color: var(--red);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
 
    border-radius: 50%;
    border: 2px solid var(--red);
}

.error-text {
    height: 2.4rem;
    padding: 0.6rem 0 0 1rem;
    color: var(--red);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}
