@page
@model EventPlanner.Pages.Auth.LoginModel
@{
    Layout = "_Auth";
    ViewData["Type"] = "login";
    ViewData["Title"] = "Вход";
}

@section Form {
    <div class="login-form">
        <form method="post" asp-antiforgery="true">
            @if (!ModelState.IsValid)
            {
                <div class="form-item">
                    @Html.ValidationMessage("AuthError")
                </div>
            }
            <div class="form-item">
                <input asp-for="Login.Email" type="text" placeholder="Введите email">
                <span asp-validation-for="Login.Email" class="form-error"></span>
            </div>
            <div class="form-item">
                <input asp-for="Login.Password" type="password" placeholder="Введите пароль">
                <span asp-validation-for="Login.Password" class="form-error"></span>
            </div>
            <div class="form-item clearfix">
                <button type="submit" class="button button--green button--form">Войти</button>
            </div>
        </form>
    </div>
}