@page
@model EventPlanner.Pages.Auth.SignupModel
@{
    Layout = "_Auth";
    ViewData["Type"] = "signup";
    ViewData["Title"] = "Регистрация";
}

@section Form {
    <div class="signup-form">
        <form method="post" asp-antiforgery="true">
            <div class="form-item">
                <input asp-for="Signup.FirstName" type="text" placeholder="Введите имя">
                <span asp-validation-for="Signup.FirstName" class="form-error"></span>
            </div>
            <div class="form-item">
                <input asp-for="Signup.LastName" type="text" placeholder="Введите фамилию">
                <span asp-validation-for="Signup.LastName" class="form-error"></span>
            </div>
            <div class="form-item">
                <input asp-for="Email" type="email" placeholder="Введите email">
                <span asp-validation-for="Email" class="form-error"></span>
            </div>
            <div class="form-item">
                <input asp-for="Signup.Password" type="password" placeholder="Введите пароль">
                <span asp-validation-for="Signup.Password" class="form-error"></span>
            </div>
            <div class="form-item">
                <input asp-for="Signup.PasswordConfirm" type="password" placeholder="Подтвердите пароль">
                <span asp-validation-for="Signup.PasswordConfirm" class="form-error"></span>
            </div>
            <div class="form-item clearfix">
                <button type="submit" class="button button--green button--form">Создать аккаунт</button>
            </div>
        </form>
    </div>
}

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}