@page
@model EventsModel
@using System.Security.Claims
@using EventPlanner.HtmlHelpers
@{
    ViewData["Title"] = "Учётная запись";
    Layout = "_Page";
}

@section PageHeader
{
    <h1>Профиль</h1>
}

@section PageContent
{
    <div class="tabs">
        <a asp-page="Account" class="tab">Учётная запись</a>
        <a asp-page="Events" class="tab tab--active">Мероприятия</a>
    </div>
    <div class="content">
        @if (Model.FavouriteEvents.Count > 0)
        {
        <div class="events favorite-events">
            <h2>Избранные мероприятия</h2>
            @Html.CreateTiles(Url, Model.FavouriteEvents)
        </div>
        }
        <div class="events previous-events">
            <h2>Посещённые мероприятия</h2>
            @if (Model.PreviousEvents.Count > 0)
            {
                @Html.CreateTiles(Url, Model.PreviousEvents)
            }
            else
            {
                <div class="text">
                    Вы ещё не посещали мероприятия
                </div>
            }
        </div>
        @if (User.FindFirst(ClaimTypes.Role)?.Value == "Organizer")
        {
            <div class="events created-events">
                <h2>Созданные мероприятия</h2>
                @if (Model.CreatedEvents.Count > 0)
                {
                    @Html.CreateTiles(Url, Model.CreatedEvents)
                }
                else
                {
                    <div class="text">
                        Вы ещё не создавали мероприятия
                    </div>
                }
            </div>
        }
    </div>
}
@section Styles {
    <link rel="stylesheet" href="~/css/settings/events.css" asp-append-version="true" />
}
