@import url("../common.css");
@import url("../blocks/background.css");
@import url("../blocks/button.css");
@import url("../blocks/form.css");
@import url("../blocks/header.css");
@import url("../blocks/page.css");
@import url("../blocks/tabs.css");
@import url("../blocks/tags.css");
@import url("../blocks/tiles.css");

.tiles {
  grid-template-columns: repeat(2, 1fr);
}

.events {
  margin-bottom: 20px;
}

.page-content {
  display: flex;
  gap: 50px;
}