:root {
  --white: #f1f6f9;
  --blue: #14274e;
  --green: #00b94f;
  --contrast: #263147;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin-bottom: 60px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: var(--contrast);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--contrast);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: "Ubuntu", sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.clearfix {
  zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}