@import url("common.css");
@import url("blocks/background.css");
@import url("blocks/button.css");
@import url("blocks/header.css");
@import url("blocks/page.css");
@import url("blocks/tags.css");

.event-container {
  min-height: 100vh;
  padding-bottom: 50px;
  overflow: hidden;
}

.event-container .page-content {
  margin-top: -150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.cover {
  display: flex;
  justify-content: center;
}

.cover-backgrounds {
  position: relative;
}

.cover-img {
  position: relative;
}

.cover-img img {
  opacity: .8;
  max-height: 524px;
}

.cover-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0px 0px 100px 20px #14274e60;
}

.event-main {
  width: 66%;
}

.desc-title {
  font-size: 48px;
}

.event-box {
  width: 30%;
}

.text-box {
  white-space: pre-line;
  font-size: 18px;
}

.event-subtext {
  line-height: 22px;
}

.date-title, 
.location-title {
  font-size: 20px;
  font-weight: 400;
}

.date-title i, 
.location-title i {
  margin-right: 10px;
}